# Blender autosaves and backup files
*.blend1
*.blend2

# MATLAB autosaves and temporary variables
*.asv
*.mat
*.mex*
*.log
slprj/
sfprj/
codegen/
*.zip

# Temporary OS files
.DS_Store
Thumbs.db
[Dd]esktop.ini
